.navbar-dark {
    background-color: #200840;
}
.bg-pri {
    background-color: #200840;
}
body {
    background-color: #0a0f36;
}
a {
    color: #ea0599;
    
}
a:hover {
    color: #ff00a6 ;
    text-decoration: underline;
  }
.btn-primary {
    background-color:#9a0f98;
    border: #9a0f98;
}
.btn-primary:hover {
    background-color: #4caf50;
}
.btn-secondary {
    background-color: #200840;
    border: #200840;
}
.btn-secondary:hover {
    background-color: #4caf50;
}

#userinfo{
    border-style: solid;
    border-radius: 10em;
    border-width: 3px;
    border-color: #282478;

}
.modal-header {
    background-color: #200840;
    background-repeat: no-repeat;
}
.modal-link:hover {
    color: #ea0599;
    
    text-decoration: underline;
}
.landing-body {
    background: url(https://images.unsplash.com/photo-1581636624943-8778610e0efb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80);
    background-size: cover;
    background-position: center;

}
.landing-content {
    text-align: center;
    padding-top: 28%;
    padding-left:60px;
    color: #ffffff;
    text-transform: uppercase;
}
.landing-btn {
    position: relative;
    top: 60px;
}